<div class="container">
    <div class="row mt-3">
      <div class="col-lg-12 mx-auto">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="nav-item col-lg-12 dropdown d-lg-inline-block mx-auto d-none">
              <div class="row h-100">
                <div class="col-sm mt-3">
                  <ul class="nav nav-pills justify-content-left horitab-scroll" id="myTab" role="tablist">
                    <li class="nav-item me-1" role="presentation">
                      <button class="btn-sm btn-category nav-link active" id="top-up-tab" data-bs-toggle="tab"
                        data-bs-target="#top-up" type="button" role="tab" aria-controls="game" aria-selected="true">
                        <small>Top Up</small>
                      </button>
                    </li>
                    <li class="nav-item me-1" role="presentation">
                      <button class="btn-sm btn-category nav-link" id="pulsa-tab" data-bs-toggle="tab"
                        data-bs-target="#pulsa" type="button" role="tab" aria-controls="game" aria-selected="false">
                        <small>Pulsa</small>
                      </button>
                    </li>
                    <li class="nav-item me-1" role="presentation">
                      <button class="btn-sm btn-category nav-link" id="voucher-tab" data-bs-toggle="tab"
                        data-bs-target="#voucher" type="button" role="tab" aria-controls="game" aria-selected="true">
                        <small>Voucher</small>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="col-sm mt-3">
                  <form action="#" method="get">
                    <div class="input-group me-3 search-bar" aria-haspopup="true" id="dropsearchdown">
                      <input type="text" name="q" placeholder="Search products..." id="searchProds"
                        class="form-control search_input" autocomplete="off" />
                      <button type="submit" class="btn btn-primary" id="btnSearchProds">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-dark position-absolute shadow navbar-nav-scroll"
                      aria-labelledby="dropsearchdown" id="dropDownSearchResults"></ul>
                  </form>
                </div>
              </div>
            </div>
            <div class="d-lg-none mt-2 mb-0 d-block dropdown">
              <form action="#" method="get">
                <div class="input-group me-3 search-bar" aria-haspopup="true" id="dropsearchdown">
                  <input type="text" name="q" placeholder="Search products..." id="searchProds"
                    class="form-control search_input" autocomplete="off" />
                  <button type="submit" class="btn btn-primary" id="btnSearchProds">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <ul class="dropdown-menu dropdown-menu-dark position-absolute shadow navbar-nav-scroll"
                  aria-labelledby="dropsearchdown" id="dropDownSearchResults"></ul>
              </form>
              <ul class="nav nav-pills justify-content-left mt-2 horitab-scroll" id="myTab" role="tablist">
                <li class="nav-item me-1" role="presentation">
                  <button class="btn-sm btn-category nav-link active" id="top-up-tab" data-bs-toggle="tab"
                    data-bs-target="#top-up" type="button" role="tab" aria-controls="game" aria-selected="true">
                    <small>Top Up</small>
                  </button>
                </li>
                <li class="nav-item me-1" role="presentation">
                  <button class="btn-sm btn-category nav-link" id="pulsa-tab" data-bs-toggle="tab"
                    data-bs-target="#pulsa" type="button" role="tab" aria-controls="game" aria-selected="true">
                    <small>Pulsa</small>
                  </button>
                </li>
                <li class="nav-item me-1" role="presentation">
                  <button class="btn-sm btn-category nav-link" id="voucher-tab" data-bs-toggle="tab"
                    data-bs-target="#voucher" type="button" role="tab" aria-controls="game" aria-selected="true">
                    <small>Voucher</small>
                  </button>
                </li>
                <li class="nav-item me-1" role="presentation">
                  <button class="btn-sm btn-category nav-link" id="token-listrik-tab" data-bs-toggle="tab"
                    data-bs-target="#token-listrik" type="button" role="tab" aria-controls="game" aria-selected="true">
                    <small>Token Listrik</small>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>