<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="first-item">
            <div class="logo">
              <img class="logo-footer" src="/images/eg-topup-white.png" alt="hexashop ecommerce templatemo" />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h4>Promo &amp; News</h4>
          <ul>
            <li><a href="#">Diskon 10.10</a></li>
            <li><a href="#">Cashback 10%</a></li>
            <li><a href="#">Bonus Coin & Diamond</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h4>Help &amp; Information</h4>
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Check Invoice</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="under-footer">
            <p>Copyright © 2023 Jarss88 Co. Ltd. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>