<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Hexashop Ecommerce HTML CSS Template</title>


  <!-- Additional CSS Files -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/menuTopup.css">

  <link rel="stylesheet" href="/css/templatemo-hexashop.css">
  <!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
</head>

<body>

  <!-- ***** Preloader Start ***** -->
        <!-- <div id="preloader">
          <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div> -->
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img src="images/eg-topup-white.png" width="90" />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/promo">Promo</a></li>
              <li class="submenu">
                <a href="javascript:;">Cek Username</a>
                <ul>
                  <li><a href="/usernameMobileLegends">Mobile Legends</a></li>
                  <li><a href="/usernameFreeFire">Free Fire</a></li>
                </ul>
              </li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="container">
    <div class="row">
      <div class="col-lg-4 mt-2 mb-2">
        <div class="card-bg-dark shadow" id="card-bg">
          <div class="card-body" style="margin-top: 6rem;">
            <img src="/images/ff.jpg" class="shadow rounded bg-dark mx-auto mb-2 d-lg-block d-none" width="150"
              alt="" id="ff-logo">
            <div class="row">
              <div class="col">
                <h4 class="text-white text-center">Free Fire</h4>
                <div class="strip-primary"></div><br>
                <span class="text-white mt-3 mb-3">Proses Otomatis</span>
                <img src="/images/ff.jpg" alt=""
                  class="shadow rounded bg-dark float-start mt-2 me-2 mb-0 d-lg-none d-block" width="45">
                <p>Top Up Diamond Mobile Legends<br><span style="font-weight: bolder;">Proses Fast 3 Detik Setelah Pembayaran</span><br></p>
                <ol>
                  <li>Masukkan&nbsp;<span style="font-weight: bolder;">ID (SERVER)</span></li>
                  <li>Pilih&nbsp;<span style="font-weight: bolder;">Nominal&nbsp;</span>Diamond</li>
                  <li>Pilih&nbsp;<span style="font-weight: bolder;">Metode Pembayaran</span></li>
                  <li>Tulis&nbsp;<span style="font-weight: bolder;">nomor WhatsApp</span>&nbsp;yg benar!</li>
                  <li>Klik&nbsp;<span style="font-weight: bolder;">Beli&nbsp;</span>&amp; lakukan Pembayaran</li>
                  <li>Diamond akan masuk otomatis ke akun anda</li>
                </ol>
                <p style="margin-bottom: 10px; text-align: center;">
                  <font size="3" color="#ff9c00"><span style="font-weight: bolder;">Top Up Buka 24 Jam</span></font>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mt-2 mb-2">
        <div class="row">
          <div class="col">
            <div class="card bg-shadow-dark" id="card-userdata">
              <div class="card-header">
                <h5 class="card-title">Lengkapi Data</h5>
              </div>
              <div class="card-body">
                <div id="user-data">
                  <div class="row row-cols row-cols-md">
                    <div class="col-lg-6">
                      <div class="form-group mb-3">
                        <label for="userId">User ID</label>
                        <input class="form-control" placeholder="Masukkan User ID" type="number" name="userId" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group mb-3">
                      <label for="serverid">Server ID</label>
                      <input class="form-control" placeholder="Masukkan Server ID" type="number" name="serverid" id="serverid" required="">
                      </div>
                      </div>
                  </div>
                </div>
                <button class="btn btn-success btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#petunjukModal">Petunjuk</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
          <div class="card bg-dark shadow" style="width: 50rem;">
          <div class="card-header">
          <h5 class="card-title text-white">Pilih Nominal</h5>
          </div>
          <div class="card-body">
          <div id="tempatNominal">
          <div class="row row-cols-2">
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-666" value="666" data-type="diamond">
          <label for="nominal-666" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">Weekly Diamond Pass (Misi Top Up +100)</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 26.000</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-635" value="635" data-type="diamond">
          <label for="nominal-635" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">Twilight Pass</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 135.000</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-1043" value="1043" data-type="diamond">
          <label for="nominal-1043" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">12 (11+1) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 3.800</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-1044" value="1044" data-type="diamond">
          <label for="nominal-1044" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">19 (17+2) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 5.800</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-599" value="599" data-type="diamond">
          <label for="nominal-599" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">36 (33+3) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 11.500</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-878" value="878" data-type="diamond">
          <label for="nominal-878" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">44 (40+4) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 12.500</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-600" value="600" data-type="diamond">
          <label for="nominal-600" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">59 (53+6) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 16.500</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-877" value="877" data-type="diamond">
          <label for="nominal-877" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">74 (67+7) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 20.000</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-601" value="601" data-type="diamond">
          <label for="nominal-601" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">86 (78+8) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 20.500</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-602" value="602" data-type="diamond">
          <label for="nominal-602" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">172 (156+16) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 41.000</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-1901" value="1901" data-type="diamond">
          <label for="nominal-1901" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">223 (203+20) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 56.000</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          <div class="col-lg-4 mt-3">
          <div class="list-group shadow h-100">
          <input type="radio" name="inlineRadioOptions" id="nominal-1901" value="1901" data-type="diamond">
          <label for="nominal-1901" class="list-group-item h-100">
          <div class="row">
          <div class="col">
          <div class="row">
          <div class="col name-prod">223 (203+20) Diamonds</div>
          </div>
          <div class="row">
          <div class="col nominal-price">Rp 56.000</div>
          </div>
          </div>
          </div>
          </label>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
      </div>
    </div>
  </div>

  <!-- ***** Footer Start ***** -->
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img class="logo-footer" src="/images/eg-topup-white.png" alt="hexashop ecommerce templatemo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>App Premium</h4>
                    <ul>
                        <li><a href="#">Netflix Premium</a></li>
                        <li><a href="#">Youtube Premium</a></li>
                        <li><a href="#">Canva Pro</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Promo &amp; News</h4>
                    <ul>
                        <li><a href="#">Diskon 10.10</a></li>
                        <li><a href="#">Cashback 10%</a></li>
                        <li><a href="#">Bonus Coin & Diamond</a></li>
                        <li><a href="#">Article</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Check Invoice</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2023 Jarss88 Co. Ltd. All Rights Reserved. 
                    </div>
                </div>
            </div>
        </div>
    </footer>


  <!-- jQuery -->
  <script src="/js/jquery-2.1.0.min.js"></script>

  <!-- Bootstrap -->
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- Plugins -->
  <script src="/js/owl-carousel.js"></script>
  <script src="/js/accordions.js"></script>
  <script src="/js/datepicker.js"></script>
  <script src="/js/scrollreveal.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/imgfix.min.js"></script>
  <script src="/js/slick.js"></script>
  <script src="/js/lightbox.js"></script>
  <script src="/js/isotope.js"></script>

  <!-- Global Init -->
  <script src="/js/custom.js"></script>

  
</body>

</html>