<header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="images/eg-topup-white.png" width="90" />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/promo">Promo</a></li>
              <li class="submenu">
                <a href="javascript:;">Cek Username</a>
                <ul>
                  <li><a href="/checkusername/mobilelegends">Mobile Legends</a></li>
                  <li><a href="/usernameFreeFire">Free Fire</a></li>
                </ul>
              </li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>